<h2>Create a new Tweet</h2>

<form action="/tweets" method="POST">

    <label>Content: <input type="text" id="content" name="tweet[content]"></label><br>
    
    <input type="submit" id="submit" value="Create">

</form>

