<h2>Sign up to Fwitter</h2>

<form action="/signup" method="POST">
  <label>Username: <input type="text" name="username" placeholder="fwitter_user"></label><br>
  <label>Email: <input type="email" name="email" placeholder="user@fwitter.com"></label><br>
  <label>Password: <input type="password" name="password" placeholder="********"></label><br>
  <input type="submit" value="Sign Up">
</form>