<h2>Log in to Fwitter</h2>

<form action="/login" method="POST">
    <label>Username: <input type="username" name="username" placeholder="fwitter_user"></label><br>
    <label>Password: <input type="password" name="password" placeholder="********"></label><br>
    <input type="submit" value="Log in" id="submit">
</form>