<section class="jumbotron jumbotron-fluid text-center bg-white">
    <div class="container">
    <h1>Welcome to Fwitter!</h1>
    <p class="lead text-muted">Please sign up and log in for the full Fwitter experience.</p>
    </div>
</section>